node_modules/
dist/
.env
*.log
uploads/
data/
models/
.DS_Store
*.pyc
__pycache__/
.vscode/
.idea/
ml-service/negative_github_issues.csv

















ml-service/merged_json_table.csv
